<!doctype html>
<html ng-app="oplanApp">
<head>
  <meta charset="utf-8">
  <base href="/oplan/">
  <title ng-bind="title">Oplan</title>
  <link rel="stylesheet" href="bower_components/ag-grid/dist/angular-grid.css">
  <link rel="stylesheet" href="bower_components/ag-grid/dist/theme-fresh.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="angular-locale_de-de.js"></script>
  <script src="bower_components/ag-grid/dist/angular-grid.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  
  <script src="config.js"></script>
  <script src="oplanApp.js"></script>
  <script src="oplanBackend.js"></script>
  <script src="oplanSlot.js"></script>
  <script src="oplanRaumListe.js"></script>
  <script src="oplanTimetable.js"></script>
  <script src="httpIndicator.js"></script>
</head>
<body>

<div id="menu">

  <a href="#/" class="menubtn">Home</a>
  <div id="dropdownmenu" ng-include="'partials/menu.html'"></div>
  <input type="text" placeholder="Gehe zu Raum..." ng-model="gotoRoomText" size="15" ng-keypress="gotoRoomKey($event)">
  &nbsp;
</div>


<div ng-view></div>

<script type="text/ng-template" id="partials/slot.html">

<div style="border:1px solid red;padding:10px;" ng-if="error">
{{error}}
</div>
<div ng-if="!error">
<h1>{{slot.von_dt|date:"EEE dd.MM. HH:mm"}} - {{slot.bis_dt|date:"HH:mm"}}</h1>

<div class="toolbar">
<button class="menubtn" ng-click="addRow()" style="float:right">Zeile hinzufügen</button>
<a href="javascript:" ng-click="powertools=!powertools" style="float:right" class="menubtn">Tools</a>

<a href="javascript:" ng-click="toggleSelection()" class="menubtn" title="Auswahl umkehren">+ / &mdash;</a>  

<select ng-model="multiselect.action" ng-show="multiselect.show">
<option value="">(Aktion für Auswahl)</option>
<option value="delete">Zeilen löschen</option>
<option value="set_zielgruppe">Zielgruppe zuweisen:</option>
<option value="set_min_platz">Min. Plätze zuweisen:</option>
</select>
<input type="text" ng-model="multiselect.value" ng-show="multiselect.show">
<button ng-click="runMultiselectAction()" class="menubtn" ng-show="multiselect.show">go</button>
</div>


<div ng-show="powertools" class="toolbar" style="background: #faf">PowerTools --  copy paste:  <input type="button" ng-click="copyPasteApply()" value="apply!"><br>
<textarea ng-model="$parent.$parent.copyPaste" style="width:100%"></textarea>
</div>

<div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>

</div>

</script>

<script type="text/ng-template" id="partials/raumliste.html">
<h1 style="float:left; margin:0 20px 0 0;">Alle verfügbaren Räume </h1>
<div style="float:left">
<button ng-click="persistView()">View speichern</button>
</div>

<hr style="clear:both">
<div ag-grid="gridOptions" class="ag-fresh" style="height: 90%; width: 100%;"></div>

</script>

<script type="text/ng-template" id="partials/raumlistetucan.html">
<h1>Raumliste - Druckansicht</h1>
<table class="tucan">
<thead>
<tr><th>Datum</th><th>Von</th><th>Bis</th><th>Raum</th></tr>
</thead>
<tr ng-repeat="row in data">
<td><nobr>{{row[0].von|date:"EEE, dd. MMM yyyy"}}</nobr></td>
<td>{{row[0].von_time}}</td>
<td>{{row[0].bis_time}}</td>
<td>
  <span ng-repeat="room in row"><span ng-if="!$first">, </span>
    <span><a href="#/raumplan/{{room.raum_nummer}}?w={{room.von|date:'yyyy-MM-dd'}}">{{room.raum_nummer}}</a></span></span>
</td>
</tr>
</table>

</script>


<script type="text/ng-template" id="partials/kleingruppen.html">
<h1>Kleingruppenliste</h1>
<table class="tucan">
<thead>
<tr><th>Kleingruppe</th><th>Montag</th><th>Dienstag</th><th>Mittwoch</th><th>Donnerstag</th><th>Freitag</th></tr>
</thead>
<tr ng-repeat="row in data">
<td ng-repeat="col in row track by $index" ng-class="{ warn: col=='!!!' ? 'red' : '' }">{{col}}</td>
</tr>
</table>

</script>



<script type="text/ng-template" id="partials/timetable.html">
<div ng-if="slotId" class="slotDetails">
<button ng-click="closeDetails()" style="float:right;margin: 18px 0 0 10px;">Schließen</button>
<div ng-controller="OplanSlotCtrl" ng-include="'partials/slot.html'"></div>
</div>

<h1 style="float:left; margin:0 20px 0 0;">Stundenplan {{gruppe}}</h1>
<div style="float: left">
  <a href="stundenplan.php?w={{woche}}&g={{gruppe}}" class="menubtn">Druckansicht</a>
  <a href="stundenplan.php?w={{woche}}&g={{gruppe}}&format=ics" class="menubtn">Export als ICS</a>
</div>
<hr style="clear:both">


<div ui-calendar="calendar" ng-model="eventSources" calendar="timetable">

</script>



<script type="text/ng-template" id="partials/room.html">
<h1 style="float:left; margin:0 20px 0 0;">Raum {{room}}  </h1>
<div style="float:left">
Snap: <select ng-model="calendar.snapDuration"><option>0:05</option><option>0:10</option><option>0:15</option><option>0:30</option></select>
<button ng-click="updateAusVerw()">Buchungszeiten laden</button>

<br>
<span>
Plätze: {{raumInfo.platz}} | Typ: {{raumInfo.raumtyp}} 
</span>
<span ng-if="raumInfo.verw_mit=='tucan'">
| <b>TUCaN</b>: <a href="{{raumInfo.verw_link}}">Raumdetails</a>, 
<a href="https://www.tucan.tu-darmstadt.de/scripts/mgrqcgi?APPNAME=CampusNet&PRGNAME=SCHEDULER&ARGUMENTS=-N000000000000001,-N000385,-A{{calStart|date:'dd.MM.yyyy'}},-A,-N1,-N{{raumInfo.verw_id}}">Termine</a>
</span>
<br>
<i>
Kommentar: {{raumInfo.verw_kommentar}}
</i>

</div>
<hr style="clear:both">

<div id="sidebar">
  <a ng-href="#/raumplan/{{raum.nummer}}?w={{defaultWeek}}" ng-repeat="raum in raumliste" ng-class="{current:room==raum.nummer}">
  {{raum.nummer}} <small>({{raum.platz}})</small></a>
</div>
<div id="contentArea">
  <div ui-calendar="calendar" ng-model="eventSources" calendar="timetable">
</div>
</script>

<script type="text/ng-template" id="partials/menu.html">
<ul>
<li><b>Stundenpläne</b><ul>
  <li ng-repeat="(id,text) in stundenplanlist"><a ng-href="#/stundenplan/{{ id }}?w={{defaultWeek}}">{{ text }}</a></li>
</ul></li>

<li><b>Raumlisten</b><ul>
  <li><a href="#/raumliste">Alle verfügbaren Räume</a></li>
  <li><a href="#/raumliste/tucan">Druckansicht</a></li>
  <li><a href="#/raumliste/kleingruppe">Kleingruppenräume</a></li>
</ul></li>

</ul>
</script>

<script type="text/ng-template" id="partials/home.html">
<h1>Oplan</h1>

<div ng-include="'partials/menu.html'" id="homepage_menu"></div>

<form ng-show="!auth">
Login mit D120 LDAP-Zugangsdaten:<br>
<input type="text" ng-model="username" placeholder="Username"> <input type="password" ng-model="password" id="login_pw"placeholder="Passwort"> 
<button ng-click="login()">Login</button>
</form>
<div ng-show="auth">
Hallo {{username}}, du bist eingeloggt.
<button ng-click="logout()">Logout</button>
</div>

</script>

<script type="text/ng-template" id="partials/404.html">
<br>
<h1>404</h1>
</script>

</body>
</html>
